<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Contatos</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Contatos</h1>
    <a href="/contatos/novo">Novo Contato</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contato : ${contatos}">
                <td th:text="${contato.nome}"></td>
                <td th:text="${contato.telefone}"></td>
                <td th:text="${contato.email}"></td>
                <td>
                    <a th:href="@{/contatos/editar/{id}(id=${contato.id})}">Editar</a>
                    <a th:href="@{/contatos/deletar/{id}(id=${contato.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>